.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 221, 238);
}

.container {
  width: 1000px;
  height: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.15);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.bar>h2 {
  font-weight: 500;
}

.icon-button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: rgb(236, 236, 236);
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 5rem;
  left: -2rem;
  width: 15rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.15);
}

.dropdown>div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.dropdown>div:hover {
  background-color: #5f4ae6;
  color: white;
}

.active {
  display: block;
}